extends ./layout.pug

block content
    section.container
        div.item
            h1
                a(href="/") #{title}
        div.item
            form.form(method="POST" action="/")
                fieldset
                    div.container.p1
                        label.item.i-b.v-top.ph3.right(for="title") Titulo:
                        input.item.i-b.v-top.ph9#title(type="text", name="title", required=)

                    div.container.p1
                        label.item.i-b.v-top.ph3.right(for="release_year") Anio:
                        input.item.i-b.v-top.ph9#release_year(type="text", name="release_year", required=)

                    div.container.p1
                        label.item.i-b.v-top.ph3.right(for="rating") Calificacion:
                        input.item.i-b.v-top.ph9#rating(type="text", name="rating", required=)

                    div.container.p1
                        label.item.i-b.v-top.ph3.right(for="image") Poster:
                        input.item.i-b.v-top.ph9#image(type="text", name="image", required=)

                    div.container.p1
                        input.item.ph4.mauto.button.add(type="submit", value="Agregar")




