extends ./layout.pug

block content
    section.container
        div.item
            h1
                a(href="/") #{title}
        div.item
            form.form(method="POST" action="/actualizar/"+ data[0].movie_id)
                fieldset
                    div.container.p1
                        input#movie_id(type="hidden", name="movie_id" value=data[0].movie_id)
                        label.item.i-b.v-top.ph3.right(for="title") Titulo:
                        input.item.i-b.v-top.ph9#title(type="text", name="title", required="", value=data[0].title)

                    div.container.p1
                        label.item.i-b.v-top.ph3.right(for="release_year") Anio:
                        input.item.i-b.v-top.ph9#release_year(type="text", name="release_year", required="", value=data[0].release_year)

                    div.container.p1
                        label.item.i-b.v-top.ph3.right(for="rating") Calificacion:
                        input.item.i-b.v-top.ph9#rating(type="text", name="rating", required="", value=data[0].rating)

                    div.container.p1
                        label.item.i-b.v-top.ph3.right(for="image") Poster:
                        input.item.i-b.v-top.ph9#image(type="text", name="image", required="", value=data[0].image)

                    div.container.p1
                        input.item.ph4.mauto.button.add(type="submit", value="Agregar")




