extends ./layout.pug

block content
  section.container
    div.item
      h1
        a(href="/") #{locals.tittle}
    article.item
        -if(data.length)
            table.table
                tr
                  th ID
                  th Titulo
                  th Año
                  th Puntuacion
                  th Poster
                  th(colspan = "2")
                    form(method="GET" action= "/agregar")
                         input.button.add(type="submit" value="Agregar")
                each movie in data
                    tr
                        td #{movie.movie_id}
                        td #{movie.title}
                        td #{movie.release_year}
                        td #{movie.rating}
                        td
                        td
                            form(method="GET" action="/editar/" + movie.movie_id)
                                input.button.edit(type="submit" value="Editar")
                        td
                            form(method="POST" action= "/eliminar/" + movie.movie_id)
                                input.button.delete(type="button" value="Eliminar" onclick="eliminarOk(this)")
            script.
                function eliminarOk(input) {
                    var deleteOk = confirm("Estas seguro de eliminar la pelicula?");
                    return(deleteOk)? input.parentNode.submit() : false;
                }
        -else
            p.error No existen peliculas en la base de datos.


