/*! Responsimple v1.0.1 (c) 2015 by Jonathan MirCha - @jonmircha | MIT License | github.com/jonmircha/responsimple */

/*****************************/
/*********** RESET ***********/
/*****************************/

/* 
This reset is based on the * {box-sizing: border-box} FTW Paul Irish and normalize.css 3.0.2
http://www.paulirish.com/2012/box-sizing-border-box-ftw/
https://necolas.github.io/normalize.css/3.0.2/normalize.css
*/

/* html, body & children */

html {
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-family: sans-serif;
	font-size: 16px;
	-ms-text-size-ajust: 100%;
	-moz-text-size-ajust: 100%;
	-webkit-text-size-ajust: 100%;
	text-size-ajust: 100%;
	background-color: #FFF;
	color: #000;
}

body { overflow-x: hidden; }

*, *::after, *::before {
	-ms-box-sizing: inherit;
	-moz-box-sizing: inherit;
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

/* links */

a { background-color: transparent; }

a:active, a:hover {	outline: 0;	}

/* headings */

h1 { 
	font-size: 32px;
	font-size: 2rem;
}

h2 { 
	font-size: 28px;
	font-size: 1.75rem;
}

h3 { 
	font-size: 24px;
	font-size: 1.5rem;
}

h4 { 
	font-size: 20px;
	font-size: 1.25rem;
}

h5 { 
	font-size: 16px;
	font-size: 1rem;
}

h6 { 
	font-size: 12px;
	font-size: .75rem;
}

/* list tags */

li {
	margin-left: 16px;
	margin-left: 1rem;
	list-style-type: inherit;
	list-style-position: outside;
}

/* inline tags */

a, abbr, b, code, dfn, em, i, li, mark, p, pre, strong { font-size: inherit; }

small { font-size: 75%; }

abbr, dfn, em, i { font-style: italic; }

abbr[title] { border-bottom: thin dotted; }

b, strong, optgroup { font-weight: bold; }

mark { 
	background-color: #FF0;
	color: #000;
}

sub, sup {
	font-size: 12px;
	font-size: .75rem;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -8px;
	top: -.5rem;
}

sub {
	bottom: -4px;
	bottom: -.25rem;
}

pre { overflow: auto; }

code, kbd, pre, samp {
	font-family: monospace, monospace;
	font-size: 16px;
	font-size: 1rem;
}

hr { 
	margin: auto;
	width: 100%;
	height: 0;
	border: thin solid #000;
}

/* block tags */

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary { display: block; }

/* media tags */

audio, canvas, img, iframe, picture, progress, svg, video {
	display: inline-block;
	vertical-align: baseline;
	width: 100%;
	max-width: 100%;
	height: auto;
	border: 0;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden], template { display: none; }

svg:not(:root) { overflow: hidden; }

/* form tags */

button, input, optgroup, option, select, textarea {
	padding: 4px;
	padding: .25rem;
	font-family: inherit;
	font-size: 16px;
	font-size: 1rem;
	border: thin solid #000;
	color: inherit;
}

button { overflow: visible; }

button, select { text-transform: none; }

input { line-height: normal; }

textarea { 
	vertical-align: bottom;
	overflow: auto;
	resize: none;
}

button, input[type="button"], input[type="submit"], input[type="reset"], input[type="checkbox"], input[type="radio"], label, select { cursor: pointer; }

*[disabled] {
	cursor: default;
	color: #999;
	background-color: #DDD;
}

fieldset {
	border: thin solid #C0C0C0;
	padding: 8px;
	padding: .5rem;
}

/* table tags */

table { border-collapse: collapse; }

table, td, th { border: thin solid #000; }

/* selection */

::selection {
	color: #FFF;
	background-color: #338FFF;
}

::-moz-selection {
	color: #FFF;
	background-color: #338FFF;
}

/*****************************/
/*********** GRID ***********/
/*****************************/

.container, .container-full {
	display: block;
	width: 100%;
	margin: auto;
	font-size: 0;
}

.container { max-width: 1200px; }

.item {
	display: block;
	width: 100%;
	padding: 16px;
	padding: 1rem;
	font-size: 16px;
	font-size: 1rem;
}

.ph12 { width: 100%; }

.ph11 { width: 91.66666666666667%; }

.ph10 { width: 83.33333333333333%; }

.ph9 { width: 75%; }

.ph8 { width: 66.66666666666667%; }

.ph7 { width: 58.33333333333333%; }

.ph6 { width: 50%; }

.ph5 { width: 41.66666666666667%; }

.ph4 { width: 33.33333333333333%; }

.ph3 { width: 25%; }

.ph2 { width: 16.66666666666667%; }

.ph1 { width: 8.333333333333333%; }

/*****************************/
/*********** LAYOUT ***********/
/*****************************/

/* Technique 1 float left/right; */

.floatl { float: left; }

.floatr { float: right; }

.nofloat { float: none; }

.clear, .clear::after, .clear::before { clear: both; }

.clear::after, .clear::before {
	content: '';
	display: block;
}

/* Technique 2 display:inline-block; */

.i-b { display: inline-block; }

/* Technique 3 display:flex; */
.flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

.flex-inline {
	display: -ms-inline-flexbox;
	display: -webkit-inline-flex;
	display: inline-flex;
}

.flex-row {
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
}

.flex-row-reverse {
	-webkit-flex-direction: row-reverse;
	-ms-flex-direction: row-reverse;
	flex-direction: row-reverse;
}

.flex-column {
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

.flex-column-reverse {
	-webkit-flex-direction: column-reverse;
	-ms-flex-direction: column-reverse;
	flex-direction: column-reverse;
}

.flex-nowrap {
	-webkit-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
}

.flex-wrap {
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.flex-wrap-reverse {
	-webkit-flex-wrap: wrap-reverse;
	-ms-flex-wrap: wrap-reverse;
	flex-wrap: wrap-reverse;
}

.jc-flex-start {
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
}

.jc-flex-end {
	-webkit-justify-content: flex-end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}

.jc-center {
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.jc-space-between {
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.jc-space-around {
	-webkit-justify-content: space-around;
	-ms-flex-pack: distribute;
	justify-content: space-around;
}

.ai-flex-start {
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	align-items: flex-start;
}

.ai-flex-end {
	-webkit-align-items: flex-end;
	-ms-flex-align: end;
	align-items: flex-end;
}

.ai-center {
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.ai-baseline {
	-webkit-align-items: baseline;
	-ms-flex-align: baseline;
	align-items: baseline;
}

.ai-stretch {
	-webkit-align-items: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
}

.ac-flex-start {
	-webkit-align-content: flex-start;
	-ms-flex-line-pack: start;
	align-content: flex-start;
}

.ac-flex-end {
	-webkit-align-content: flex-end;
	-ms-flex-line-pack: end;
	align-content: flex-end;
}

.ac-center {
	-webkit-align-content: center;
	-ms-flex-line-pack: center;
	align-content: center;
}

.ac-space-between {
	-webkit-align-content: space-between;
	-ms-flex-line-pack: justify;
	align-content: space-between;
}

.ac-space-around {
	-webkit-align-content: space-around;
	-ms-flex-line-pack: justify;
	align-content: space-around;
}

.ac-stretch {
	-webkit-align-content: stretch;
	-ms-flex-line-pack: stretch;
	align-content: stretch;
}

.flex-none { 
	-ms-flex: none;
	-webkit-flex: none;
	flex: none;
}

.flex-auto { 
	-ms-flex: auto;
	-webkit-flex: auto;
	flex: auto;
}

.as-flex-start {
	-webkit-align-self: flex-start;
	-ms-flex-item-align: start;
	align-self: flex-start;
}

.as-flex-end {
	-webkit-align-self: flex-end;
	-ms-flex-item-align: end;
	align-self: flex-end;
}

.as-center {
	-webkit-align-self: center;
	-ms-flex-item-align: center;
	align-self: center;
}

.as-baseline {
	-webkit-align-self: baseline;
	-ms-flex-item-align: baseline;
	align-self: baseline;
}

.as-stretch {
	-webkit-align-self: stretch;
	-ms-flex-item-align: stretch;
	align-self: stretch;
}

.as-auto {
	-webkit-align-self: auto;
	-ms-flex-item-align: auto;
	align-self: auto;
}

/* vertical & horizontal alignments */

.v-top { vertical-align: top; }

.v-middle { vertical-align: middle; }

.v-bottom { vertical-align: bottom; }

.v-baseline { vertical-align: baseline; }

.left { text-align: left; }

.center { text-align: center; }

.right { text-align: right; }

.justify { text-align: justify; }

/* font sizes */

.f0 { font-size: 0; }

.f_25 { 
	font-size: 4px;
	font-size: .25rem;
}

.f_5 { 
	font-size: 8px;
	font-size: .5rem;
}

.f_75 { 
	font-size: 12px;
	font-size: .75rem;
}

.f1 { 
	font-size: 16px;
	font-size: 1rem;
}

.f1_25 { 
	font-size: 20px;
	font-size: 1.25rem;
}

.f1_5 { 
	font-size: 24px;
	font-size: 1.5rem;
}

.f1_75 { 
	font-size: 28px;
	font-size: 1.75rem;
}

.f2 { 
	font-size: 32px;
	font-size: 2rem;
}

.f2_5 { 
	font-size: 40px;
	font-size: 2.5rem;
}

.f3 { 
	font-size: 48px;
	font-size: 3rem;
}

.f3_5 { 
	font-size: 56px;
	font-size: 3.5rem;
}

.f4 { 
	font-size: 64px;
	font-size: 4rem;
}

.f4_5 { 
	font-size: 72px;
	font-size: 4.5rem;
}

.f5 { 
	font-size: 80px;
	font-size: 5rem;
}

/* margins & paddings */

.mauto { margin: auto; }

.m0 { margin: 0; }

.m_25 {
	margin: 4px;
	margin: .25rem;
}

.m_5 {
	margin: 8px;
	margin: .5rem;
}

.m_75 {
	margin: 12px;
	margin: .75rem;
}

.m1 {
	margin: 16px;
	margin: 1rem;
}

.m1_25 {
	margin: 20px;
	margin: 1.25rem;
}

.m1_5 {
	margin: 24px;
	margin: 1.5rem;
}

.m1_75 {
	margin: 28px;
	margin: 1.75rem;
}

.m2 {
	margin: 32px;
	margin: 2rem;
}

.pauto { padding: auto; }

.p0 { padding: 0; }

.p_25 {
	padding: 4px;
	padding: .25rem;
}

.p_5 {
	padding: 8px;
	padding: .5rem;
}

.p_75 {
	padding: 12px;
	padding: .75rem;
}

.p1 {
	padding: 16px;
	padding: 1rem;
}

.p1_25 {
	padding: 20px;
	padding: 1.25rem;
}

.p1_5 {
	padding: 24px;
	padding: 1.5rem;
}

.p1_75 {
	padding: 28px;
	padding: 1.75rem;
}

.p2 {
	padding: 32px;
	padding: 2rem;
}

/* borders & displays */

.border { border: thin solid #000; }

.noborder { border: 0; }

.round { border-radius: 100%; }

.noround { border-radius: 0; }

.inline { display: inline }

.block { display: block }

.none { display: none }

.bullet {
	margin-left: 16px;
	margin-left: 1rem;
	list-style-type: inherit;
	list-style-position: outside;
}

.nobullet { 
	margin-left: 0;
	list-style-type: none;
}

@media screen and (min-width: 30em){
	.sm12 { width: 100%; }

	.sm11 { width: 91.66666666666667%; }

	.sm10 { width: 83.33333333333333%; }

	.sm9 { width: 75%; }

	.sm8 { width: 66.66666666666667%; }

	.sm7 { width: 58.33333333333333%; }

	.sm6 { width: 50%; }

	.sm5 { width: 41.66666666666667%; }

	.sm4 { width: 33.33333333333333%; }

	.sm3 { width: 25%; }

	.sm2 { width: 16.66666666666667%; }

	.sm1 { width: 8.333333333333333%; }

	/* Technique 1 float left/right; */

	.sm-floatl { float: left; }

	.sm-floatr { float: right; }

	.sm-nofloat { float: none; }

	.sm-clear, .sm-clear::after, .sm-clear::before { clear: both; }

	.sm-clear::after, .sm-clear::before {
		content: '';
		display: block;
	}

	/* Technique 2 display:inline-block; */

	.sm-i-b { display: inline-block; }

	/* Technique 3 display:flex; */
	
	.sm-flex {
		display: -webkit-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
	}

	.sm-flex-inline {
		display: -ms-inline-flexbox;
		display: -webkit-inline-flex;
		display: inline-flex;
	}

	.sm-flex-row {
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
	}

	.sm-flex-row-reverse {
		-webkit-flex-direction: row-reverse;
		-ms-flex-direction: row-reverse;
		flex-direction: row-reverse;
	}

	.sm-flex-column {
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
	}

	.sm-flex-column-reverse {
		-webkit-flex-direction: column-reverse;
		-ms-flex-direction: column-reverse;
		flex-direction: column-reverse;
	}

	.sm-flex-nowrap {
		-webkit-flex-wrap: nowrap;
		-ms-flex-wrap: nowrap;
		flex-wrap: nowrap;
	}

	.sm-flex-wrap {
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}

	.sm-flex-wrap-reverse {
		-webkit-flex-wrap: wrap-reverse;
		-ms-flex-wrap: wrap-reverse;
		flex-wrap: wrap-reverse;
	}

	.sm-jc-flex-start {
		-webkit-justify-content: flex-start;
		-ms-flex-pack: start;
		justify-content: flex-start;
	}

	.sm-jc-flex-end {
		-webkit-justify-content: flex-end;
		-ms-flex-pack: end;
		justify-content: flex-end;
	}

	.sm-jc-center {
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
	}

	.sm-jc-space-between {
		-webkit-justify-content: space-between;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}

	.sm-jc-space-around {
		-webkit-justify-content: space-around;
		-ms-flex-pack: distribute;
		justify-content: space-around;
	}

	.sm-ai-flex-start {
		-webkit-align-items: flex-start;
		-ms-flex-align: start;
		align-items: flex-start;
	}

	.sm-ai-flex-end {
		-webkit-align-items: flex-end;
		-ms-flex-align: end;
		align-items: flex-end;
	}

	.sm-ai-center {
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
	}

	.sm-ai-baseline {
		-webkit-align-items: baseline;
		-ms-flex-align: baseline;
		align-items: baseline;
	}

	.sm-ai-stretch {
		-webkit-align-items: stretch;
		-ms-flex-align: stretch;
		align-items: stretch;
	}

	.sm-ac-flex-start {
		-webkit-align-content: flex-start;
		-ms-flex-line-pack: start;
		align-content: flex-start;
	}

	.sm-ac-flex-end {
		-webkit-align-content: flex-end;
		-ms-flex-line-pack: end;
		align-content: flex-end;
	}

	.sm-ac-center {
		-webkit-align-content: center;
		-ms-flex-line-pack: center;
		align-content: center;
	}

	.sm-ac-space-between {
		-webkit-align-content: space-between;
		-ms-flex-line-pack: justify;
		align-content: space-between;
	}

	.sm-ac-space-around {
		-webkit-align-content: space-around;
		-ms-flex-line-pack: justify;
		align-content: space-around;
	}

	.sm-ac-stretch {
		-webkit-align-content: stretch;
		-ms-flex-line-pack: stretch;
		align-content: stretch;
	}

	.sm-flex-none { 
		-ms-flex: none;
		-webkit-flex: none;
		flex: none;
	}

	.sm-flex-auto { 
		-ms-flex: auto;
		-webkit-flex: auto;
		flex: auto;
	}

	.sm-as-flex-start {
		-webkit-align-self: flex-start;
		-ms-flex-item-align: start;
		align-self: flex-start;
	}

	.sm-as-flex-end {
		-webkit-align-self: flex-end;
		-ms-flex-item-align: end;
		align-self: flex-end;
	}

	.sm-as-center {
		-webkit-align-self: center;
		-ms-flex-item-align: center;
		align-self: center;
	}

	.sm-as-baseline {
		-webkit-align-self: baseline;
		-ms-flex-item-align: baseline;
		align-self: baseline;
	}

	.sm-as-stretch {
		-webkit-align-self: stretch;
		-ms-flex-item-align: stretch;
		align-self: stretch;
	}

	.sm-as-auto {
		-webkit-align-self: auto;
		-ms-flex-item-align: auto;
		align-self: auto;
	}

	/* vertical & horizontal alignments */

	.sm-v-top { vertical-align: top; }

	.sm-v-middle { vertical-align: middle; }

	.sm-v-bottom { vertical-align: bottom; }

	.sm-v-baseline { vertical-align: baseline; }

	.sm-left { text-align: left; }

	.sm-center { text-align: center; }

	.sm-right { text-align: right; }

	.sm-justify { text-align: justify; }

	/* font sizes */

	.sm-f0 { font-size: 0; }

	.sm-f_25 { 
		font-size: 4px;
		font-size: .25rem;
	}

	.sm-f_5 { 
		font-size: 8px;
		font-size: .5rem;
	}

	.sm-f_75 { 
		font-size: 12px;
		font-size: .75rem;
	}

	.sm-f1 { 
		font-size: 16px;
		font-size: 1rem;
	}

	.sm-f1_25 { 
		font-size: 20px;
		font-size: 1.25rem;
	}

	.sm-f1_5 { 
		font-size: 24px;
		font-size: 1.5rem;
	}

	.sm-f1_75 { 
		font-size: 28px;
		font-size: 1.75rem;
	}

	.sm-f2 { 
		font-size: 32px;
		font-size: 2rem;
	}

	.sm-f2_5 { 
		font-size: 40px;
		font-size: 2.5rem;
	}

	.sm-f3 { 
		font-size: 48px;
		font-size: 3rem;
	}

	.sm-f3_5 { 
		font-size: 56px;
		font-size: 3.5rem;
	}

	.sm-f4 { 
		font-size: 64px;
		font-size: 4rem;
	}

	.sm-f4_5 { 
		font-size: 72px;
		font-size: 4.5rem;
	}

	.sm-f5 { 
		font-size: 80px;
		font-size: 5rem;
	}

	/* margins & paddings */

	.sm-mauto { margin: auto; }

	.sm-m0 { margin: 0; }

	.sm-m_25 {
		margin: 4px;
		margin: .25rem;
	}

	.sm-m_5 {
		margin: 8px;
		margin: .5rem;
	}

	.sm-m_75 {
		margin: 12px;
		margin: .75rem;
	}

	.sm-m1 {
		margin: 16px;
		margin: 1rem;
	}

	.sm-m1_25 {
		margin: 20px;
		margin: 1.25rem;
	}

	.sm-m1_5 {
		margin: 24px;
		margin: 1.5rem;
	}

	.sm-m1_75 {
		margin: 28px;
		margin: 1.75rem;
	}

	.sm-m2 {
		margin: 32px;
		margin: 2rem;
	}

	.sm-pauto { padding: auto; }

	.sm-p0 { padding: 0; }

	.sm-p_25 {
		padding: 4px;
		padding: .25rem;
	}

	.sm-p_5 {
		padding: 8px;
		padding: .5rem;
	}

	.sm-p_75 {
		padding: 12px;
		padding: .75rem;
	}

	.sm-p1 {
		padding: 16px;
		padding: 1rem;
	}

	.sm-p1_25 {
		padding: 20px;
		padding: 1.25rem;
	}

	.sm-p1_5 {
		padding: 24px;
		padding: 1.5rem;
	}

	.sm-p1_75 {
		padding: 28px;
		padding: 1.75rem;
	}

	.sm-p2 {
		padding: 32px;
		padding: 2rem;
	}

	/* borders & displays */

	.sm-border { border: thin solid #000; }

	.sm-noborder { border: 0; }

	.sm-round { border-radius: 100%; }

	.sm-noround { border-radius: 0; }

	.sm-inline { display: inline }

	.sm-block { display: block }

	.sm-none { display: none }

	.sm-bullet {
		margin-left: 16px;
		margin-left: 1rem;
		list-style-type: inherit;
		list-style-position: outside;
	}

	.sm-nobullet { 
		margin-left: 0;
		list-style-type: none;
	}
}

@media screen and (min-width: 48em){
	.md12 { width: 100%; }

	.md11 { width: 91.66666666666667%; }

	.md10 { width: 83.33333333333333%; }

	.md9 { width: 75%; }

	.md8 { width: 66.66666666666667%; }

	.md7 { width: 58.33333333333333%; }

	.md6 { width: 50%; }

	.md5 { width: 41.66666666666667%; }

	.md4 { width: 33.33333333333333%; }

	.md3 { width: 25%; }

	.md2 { width: 16.66666666666667%; }

	.md1 { width: 8.333333333333333%; }

	/* Technique 1 float left/right; */

	.md-floatl { float: left; }

	.md-floatr { float: right; }

	.md-nofloat { float: none; }

	.md-clear, .md-clear::after, .md-clear::before { clear: both; }

	.md-clear::after, .md-clear::before {
		content: '';
		display: block;
	}

	/* Technique 2 display:inline-block; */

	.md-i-b { display: inline-block; }

	/* Technique 3 display:flex; */

	.md-flex {
		display: -webkit-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
	}

	.md-flex-inline {
		display: -ms-inline-flexbox;
		display: -webkit-inline-flex;
		display: inline-flex;
	}

	.md-flex-row {
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
	}

	.md-flex-row-reverse {
		-webkit-flex-direction: row-reverse;
		-ms-flex-direction: row-reverse;
		flex-direction: row-reverse;
	}

	.md-flex-column {
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
	}

	.md-flex-column-reverse {
		-webkit-flex-direction: column-reverse;
		-ms-flex-direction: column-reverse;
		flex-direction: column-reverse;
	}

	.md-flex-nowrap {
		-webkit-flex-wrap: nowrap;
		-ms-flex-wrap: nowrap;
		flex-wrap: nowrap;
	}

	.md-flex-wrap {
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}

	.md-flex-wrap-reverse {
		-webkit-flex-wrap: wrap-reverse;
		-ms-flex-wrap: wrap-reverse;
		flex-wrap: wrap-reverse;
	}

	.md-jc-flex-start {
		-webkit-justify-content: flex-start;
		-ms-flex-pack: start;
		justify-content: flex-start;
	}

	.md-jc-flex-end {
		-webkit-justify-content: flex-end;
		-ms-flex-pack: end;
		justify-content: flex-end;
	}

	.md-jc-center {
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
	}

	.md-jc-space-between {
		-webkit-justify-content: space-between;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}

	.md-jc-space-around {
		-webkit-justify-content: space-around;
		-ms-flex-pack: distribute;
		justify-content: space-around;
	}

	.md-ai-flex-start {
		-webkit-align-items: flex-start;
		-ms-flex-align: start;
		align-items: flex-start;
	}

	.md-ai-flex-end {
		-webkit-align-items: flex-end;
		-ms-flex-align: end;
		align-items: flex-end;
	}

	.md-ai-center {
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
	}

	.md-ai-baseline {
		-webkit-align-items: baseline;
		-ms-flex-align: baseline;
		align-items: baseline;
	}

	.md-ai-stretch {
		-webkit-align-items: stretch;
		-ms-flex-align: stretch;
		align-items: stretch;
	}

	.md-ac-flex-start {
		-webkit-align-content: flex-start;
		-ms-flex-line-pack: start;
		align-content: flex-start;
	}

	.md-ac-flex-end {
		-webkit-align-content: flex-end;
		-ms-flex-line-pack: end;
		align-content: flex-end;
	}

	.md-ac-center {
		-webkit-align-content: center;
		-ms-flex-line-pack: center;
		align-content: center;
	}

	.md-ac-space-between {
		-webkit-align-content: space-between;
		-ms-flex-line-pack: justify;
		align-content: space-between;
	}

	.md-ac-space-around {
		-webkit-align-content: space-around;
		-ms-flex-line-pack: justify;
		align-content: space-around;
	}

	.md-ac-stretch {
		-webkit-align-content: stretch;
		-ms-flex-line-pack: stretch;
		align-content: stretch;
	}

	.md-flex-none { 
		-ms-flex: none;
		-webkit-flex: none;
		flex: none;
	}

	.md-flex-auto { 
		-ms-flex: auto;
		-webkit-flex: auto;
		flex: auto;
	}

	.md-as-flex-start {
		-webkit-align-self: flex-start;
		-ms-flex-item-align: start;
		align-self: flex-start;
	}

	.md-as-flex-end {
		-webkit-align-self: flex-end;
		-ms-flex-item-align: end;
		align-self: flex-end;
	}

	.md-as-center {
		-webkit-align-self: center;
		-ms-flex-item-align: center;
		align-self: center;
	}

	.md-as-baseline {
		-webkit-align-self: baseline;
		-ms-flex-item-align: baseline;
		align-self: baseline;
	}

	.md-as-stretch {
		-webkit-align-self: stretch;
		-ms-flex-item-align: stretch;
		align-self: stretch;
	}

	.md-as-auto {
		-webkit-align-self: auto;
		-ms-flex-item-align: auto;
		align-self: auto;
	}

	/* vertical & horizontal alignments */

	.md-v-top { vertical-align: top; }

	.md-v-middle { vertical-align: middle; }

	.md-v-bottom { vertical-align: bottom; }

	.md-v-baseline { vertical-align: baseline; }

	.md-left { text-align: left; }

	.md-center { text-align: center; }

	.md-right { text-align: right; }

	.md-justify { text-align: justify; }

	/* Font sizes */

	.md-f0 { font-size: 0; }

	.md-f_25 { 
		font-size: 4px;
		font-size: .25rem;
	}

	.md-f_5 { 
		font-size: 8px;
		font-size: .5rem;
	}

	.md-f_75 { 
		font-size: 12px;
		font-size: .75rem;
	}

	.md-f1 { 
		font-size: 16px;
		font-size: 1rem;
	}

	.md-f1_25 { 
		font-size: 20px;
		font-size: 1.25rem;
	}

	.md-f1_5 { 
		font-size: 24px;
		font-size: 1.5rem;
	}

	.md-f1_75 { 
		font-size: 28px;
		font-size: 1.75rem;
	}

	.md-f2 { 
		font-size: 32px;
		font-size: 2rem;
	}

	.md-f2_5 { 
		font-size: 40px;
		font-size: 2.5rem;
	}

	.md-f3 { 
		font-size: 48px;
		font-size: 3rem;
	}

	.md-f3_5 { 
		font-size: 56px;
		font-size: 3.5rem;
	}

	.md-f4 { 
		font-size: 64px;
		font-size: 4rem;
	}

	.md-f4_5 { 
		font-size: 72px;
		font-size: 4.5rem;
	}

	.md-f5 { 
		font-size: 80px;
		font-size: 5rem;
	}

	/* margin y padding */
	.md-mauto { margin: auto; }

	.md-m0 { margin: 0; }

	.md-m_25 {
		margin: 4px;
		margin: .25rem;
	}

	.md-m_5 {
		margin: 8px;
		margin: .5rem;
	}

	.md-m_75 {
		margin: 12px;
		margin: .75rem;
	}

	.md-m1 {
		margin: 16px;
		margin: 1rem;
	}

	.md-m1_25 {
		margin: 20px;
		margin: 1.25rem;
	}

	.md-m1_5 {
		margin: 24px;
		margin: 1.5rem;
	}

	.md-m1_75 {
		margin: 28px;
		margin: 1.75rem;
	}

	.md-m2 {
		margin: 32px;
		margin: 2rem;
	}

	.md-pauto { padding: auto; }

	.md-p0 { padding: 0; }

	.md-p_25 {
		padding: 4px;
		padding: .25rem;
	}

	.md-p_5 {
		padding: 8px;
		padding: .5rem;
	}

	.md-p_75 {
		padding: 12px;
		padding: .75rem;
	}

	.md-p1 {
		padding: 16px;
		padding: 1rem;
	}

	.md-p1_25 {
		padding: 20px;
		padding: 1.25rem;
	}

	.md-p1_5 {
		padding: 24px;
		padding: 1.5rem;
	}

	.md-p1_75 {
		padding: 28px;
		padding: 1.75rem;
	}

	.md-p2 {
		padding: 32px;
		padding: 2rem;
	}

	/* borders & displays */

	.md-border { border: thin solid #000; }

	.md-noborder { border: 0; }

	.md-round { border-radius: 100%; }

	.md-noround { border-radius: 0; }

	.md-inline { display: inline }

	.md-block { display: block }

	.md-none { display: none }

	.md-bullet {
		margin-left: 16px;
		margin-left: 1rem;
		list-style-type: inherit;
		list-style-position: outside;
	}

	.md-nobullet { 
		margin-left: 0;
		list-style-type: none;
	}
}

@media screen and (min-width: 64em){
	.lg12 { width: 100%; }

	.lg11 { width: 91.66666666666667%; }

	.lg10 { width: 83.33333333333333%; }

	.lg9 { width: 75%; }

	.lg8 { width: 66.66666666666667%; }

	.lg7 { width: 58.33333333333333%; }

	.lg6 { width: 50%; }

	.lg5 { width: 41.66666666666667%; }

	.lg4 { width: 33.33333333333333%; }

	.lg3 { width: 25%; }

	.lg2 { width: 16.66666666666667%; }

	.lg1 { width: 8.333333333333333%; }

	/* Technique 1 float left/right; */

	.lg-floatl { float: left; }

	.lg-floatr { float: right; }

	.lg-nofloat { float: none; }

	.lg-clear, .lg-clear::after, .lg-clear::before { clear: both; }

	.lg-clear::after, .lg-clear::before {
		content: '';
		display: block;
	}

	/* Technique 2 display:inline-block; */

	.lg-i-b { display: inline-block; }

	/* Technique 3 display:flex; */

	.lg-flex {
		display: -webkit-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
	}

	.lg-flex-inline {
		display: -ms-inline-flexbox;
		display: -webkit-inline-flex;
		display: inline-flex;
	}

	.lg-flex-row {
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
	}

	.lg-flex-row-reverse {
		-webkit-flex-direction: row-reverse;
		-ms-flex-direction: row-reverse;
		flex-direction: row-reverse;
	}

	.lg-flex-column {
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
	}

	.lg-flex-column-reverse {
		-webkit-flex-direction: column-reverse;
		-ms-flex-direction: column-reverse;
		flex-direction: column-reverse;
	}

	.lg-flex-nowrap {
		-webkit-flex-wrap: nowrap;
		-ms-flex-wrap: nowrap;
		flex-wrap: nowrap;
	}

	.lg-flex-wrap {
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}

	.lg-flex-wrap-reverse {
		-webkit-flex-wrap: wrap-reverse;
		-ms-flex-wrap: wrap-reverse;
		flex-wrap: wrap-reverse;
	}

	.lg-jc-flex-start {
		-webkit-justify-content: flex-start;
		-ms-flex-pack: start;
		justify-content: flex-start;
	}

	.lg-jc-flex-end {
		-webkit-justify-content: flex-end;
		-ms-flex-pack: end;
		justify-content: flex-end;
	}

	.lg-jc-center {
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
	}

	.lg-jc-space-between {
		-webkit-justify-content: space-between;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}

	.lg-jc-space-around {
		-webkit-justify-content: space-around;
		-ms-flex-pack: distribute;
		justify-content: space-around;
	}

	.lg-ai-flex-start {
		-webkit-align-items: flex-start;
		-ms-flex-align: start;
		align-items: flex-start;
	}

	.lg-ai-flex-end {
		-webkit-align-items: flex-end;
		-ms-flex-align: end;
		align-items: flex-end;
	}

	.lg-ai-center {
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
	}

	.lg-ai-baseline {
		-webkit-align-items: baseline;
		-ms-flex-align: baseline;
		align-items: baseline;
	}

	.lg-ai-stretch {
		-webkit-align-items: stretch;
		-ms-flex-align: stretch;
		align-items: stretch;
	}

	.lg-ac-flex-start {
		-webkit-align-content: flex-start;
		-ms-flex-line-pack: start;
		align-content: flex-start;
	}

	.lg-ac-flex-end {
		-webkit-align-content: flex-end;
		-ms-flex-line-pack: end;
		align-content: flex-end;
	}

	.lg-ac-center {
		-webkit-align-content: center;
		-ms-flex-line-pack: center;
		align-content: center;
	}

	.lg-ac-space-between {
		-webkit-align-content: space-between;
		-ms-flex-line-pack: justify;
		align-content: space-between;
	}

	.lg-ac-space-around {
		-webkit-align-content: space-around;
		-ms-flex-line-pack: justify;
		align-content: space-around;
	}

	.lg-ac-stretch {
		-webkit-align-content: stretch;
		-ms-flex-line-pack: stretch;
		align-content: stretch;
	}

	.lg-flex-none { 
		-ms-flex: none;
		-webkit-flex: none;
		flex: none;
	}

	.lg-flex-auto { 
		-ms-flex: auto;
		-webkit-flex: auto;
		flex: auto;
	}

	.lg-as-flex-start {
		-webkit-align-self: flex-start;
		-ms-flex-item-align: start;
		align-self: flex-start;
	}

	.lg-as-flex-end {
		-webkit-align-self: flex-end;
		-ms-flex-item-align: end;
		align-self: flex-end;
	}

	.lg-as-center {
		-webkit-align-self: center;
		-ms-flex-item-align: center;
		align-self: center;
	}

	.lg-as-baseline {
		-webkit-align-self: baseline;
		-ms-flex-item-align: baseline;
		align-self: baseline;
	}

	.lg-as-stretch {
		-webkit-align-self: stretch;
		-ms-flex-item-align: stretch;
		align-self: stretch;
	}

	.lg-as-auto {
		-webkit-align-self: auto;
		-ms-flex-item-align: auto;
		align-self: auto;
	}

	/* vertical & horizontal alignments */

	.lg-v-top { vertical-align: top; }

	.lg-v-middle { vertical-align: middle; }

	.lg-v-bottom { vertical-align: bottom; }

	.lg-v-baseline { vertical-align: baseline; }

	.lg-left { text-align: left; }

	.lg-center { text-align: center; }

	.lg-right { text-align: right; }

	.lg-justify { text-align: justify; }

	/* font sizes */

	.lg-f0 { font-size: 0; }

	.lg-f_25 { 
		font-size: 4px;
		font-size: .25rem;
	}

	.lg-f_5 { 
		font-size: 8px;
		font-size: .5rem;
	}

	.lg-f_75 { 
		font-size: 12px;
		font-size: .75rem;
	}

	.lg-f1 { 
		font-size: 16px;
		font-size: 1rem;
	}

	.lg-f1_25 { 
		font-size: 20px;
		font-size: 1.25rem;
	}

	.lg-f1_5 { 
		font-size: 24px;
		font-size: 1.5rem;
	}

	.lg-f1_75 { 
		font-size: 28px;
		font-size: 1.75rem;
	}

	.lg-f2 { 
		font-size: 32px;
		font-size: 2rem;
	}

	.lg-f2_5 { 
		font-size: 40px;
		font-size: 2.5rem;
	}

	.lg-f3 { 
		font-size: 48px;
		font-size: 3rem;
	}

	.lg-f3_5 { 
		font-size: 56px;
		font-size: 3.5rem;
	}

	.lg-f4 { 
		font-size: 64px;
		font-size: 4rem;
	}

	.lg-f4_5 { 
		font-size: 72px;
		font-size: 4.5rem;
	}

	.lg-f5 { 
		font-size: 80px;
		font-size: 5rem;
	}

	/* margins & paddings */

	.lg-mauto { margin: auto; }

	.lg-m0 { margin: 0; }

	.lg-m_25 {
		margin: 4px;
		margin: .25rem;
	}

	.lg-m_5 {
		margin: 8px;
		margin: .5rem;
	}

	.lg-m_75 {
		margin: 12px;
		margin: .75rem;
	}

	.lg-m1 {
		margin: 16px;
		margin: 1rem;
	}

	.lg-m1_25 {
		margin: 20px;
		margin: 1.25rem;
	}

	.lg-m1_5 {
		margin: 24px;
		margin: 1.5rem;
	}

	.lg-m1_75 {
		margin: 28px;
		margin: 1.75rem;
	}

	.lg-m2 {
		margin: 32px;
		margin: 2rem;
	}

	.lg-pauto { padding: auto; }

	.lg-p0 { padding: 0; }

	.lg-p_25 {
		padding: 4px;
		padding: .25rem;
	}

	.lg-p_5 {
		padding: 8px;
		padding: .5rem;
	}

	.lg-p_75 {
		padding: 12px;
		padding: .75rem;
	}

	.lg-p1 {
		padding: 16px;
		padding: 1rem;
	}

	.lg-p1_25 {
		padding: 20px;
		padding: 1.25rem;
	}

	.lg-p1_5 {
		padding: 24px;
		padding: 1.5rem;
	}

	.lg-p1_75 {
		padding: 28px;
		padding: 1.75rem;
	}

	.lg-p2 {
		padding: 32px;
		padding: 2rem;
	}

	/* borders & displays */

	.lg-border { border: thin solid #000; }

	.lg-noborder { border: 0; }

	.lg-round { border-radius: 100%; }

	.lg-noround { border-radius: 0; }

	.lg-inline { display: inline }

	.lg-block { display: block }

	.lg-none { display: none }

	.lg-bullet {
		margin-left: 16px;
		margin-left: 1rem;
		list-style-type: inherit;
		list-style-position: outside;
	}

	.lg-nobullet { 
		margin-left: 0;
		list-style-type: none;
	}
}